/****************************************************************************************************************************
                                                    Body
******************************************************************************************************************************/
*{
    scroll-behavior: smooth;
    
}
a.btn.btn-danger {
    background: #E02B1A;
}
body{
    background-color: #1E1E1E ;
    min-height: 100vh;
}
*::-webkit-scrollbar{
    display:none;
  }

/****************************************************************************************************************************
                                                    NavBar
******************************************************************************************************************************/

.navbar{
    background-color:  rgb(224,43,26)  ;
    height: 5rem;
    padding-bottom: 0.8rem;
    align-items: end;
}
nav.navbar.navbar-expand-lg.navbar-light a {
    color: white;
}

div#navbarNav {
    background-color: #e02b1a;
    z-index: 1;
    text-align: center;
    justify-content: space-evenly;
}
/****************************************************************************************************************************
                                                    Card
******************************************************************************************************************************/
main h1{
    color: white;
    margin-top: 1rem;
}


.container-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 25%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    scroll-snap-align: start;
    max-width: 20%;
}
.card a.btn.btn-danger {
    width: 11rem ;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 2%;
}
.col-md-4.mb-3 {
    max-width: fit-content;
}
.overflow {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 0 15px;
    box-sizing: border-box;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

/****************************************************************************************************************************
                                                    Footer
******************************************************************************************************************************/
footer {
    background-color: #121212;
    min-height: 10rem;
    color: white;
    text-transform: UPPERCASE;
    text-align: center;
}

footer h3{
   position: relative;
   margin-bottom: 2rem;
   display: inline-block;
}
 footer span{
    border-bottom: #e02b1a solid;
}
.flex-row li {
    display: flex;
    gap: 2%;
    align-items: flex-start;
    color: #ffffff75;
    font-size: 0.9rem;
}
.flex-row img {
    width: 35%;
    margin-right: 10%;
}
.flex-row .logo img {
    width: 10%;
    margin-right: 2%;
}

.roo ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 11%;
    text-align: center;
}
.roo {
    text-align: center;
    color: red;
}
.arrowup {
    margin-top: 5%;
    text-align: center;
}

/****************************************************************************************************************************
                                                    Modal
******************************************************************************************************************************/


.modal-content{
    text-align: center;
    background-color: #595959;
}
.side {
    display: flex;
    justify-content: center;
    gap: 2%;
    color: white;
}
.side a{
    text-decoration: none;
    color: red;
}
.modal {
    top: 5%;
    left: 14%;
}
.modal-backdrop.show {
    opacity: 0;
}
.modal button.btn.btn-danger{
    width: 50%;
}
/****************************************************************************************************************************
                                                    Modal 2
******************************************************************************************************************************/
.popup {
    background: #e02b1a;
    top: 20%;
    border-radius: 15px;
}
.t .modal{
    left: 0;
    top: -10%;
}
.modal-content.popup {
  width: 60vw;
  height: auto;
}
.modal-dialog.popup {
    right: 10%;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top: none;
}
.popup .modal-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: inherit;
  }
.popup img {
    width: 75%;
    border-radius: 15px;
}
.l {
    display: flex;
    width: 50%;
}
.g {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: 25%;
    align-items: flex-start;
}
.popup .modal-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.popup .modal-foote{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button.btn.btn-warning {
    width: 13rem;
    background-color: black;
    border: black;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
}


.btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    color: white;
    background-color: black;
    border-color: black;
}
.close{
    color: white;
    opacity: 100;
}


/****************************************************************************************************************************
                                                    Page détails
******************************************************************************************************************************/

.colum{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 2%;
    flex-direction: column;
}
.ti {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}
.i {
    width: 100%;
    
}
.i img {
    width: 100%;
    border-radius: 15px;
}
.t {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.zorg {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
}
.icon{
    width: 5%;
}
.liv{
    width: 80%;
}
.fifty {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2%;
    margin-top: 3%;
}
button.btn.btn-danger {
    width: 17%;
    border-radius: 1rem;
}
.-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1%;
  }
  .titr{
    width: 100%;
  }
.titr h1{
    float: left;
}

.bg-image img {
    width: 27%;
}
main h1{
    text-align:start;
}
.btn-long{
    width: 15%;
    margin-bottom: 2%;
}
/****************************************************************************************************************************
                                                    Page détails
******************************************************************************************************************************/
.ga {
    /* width: -webkit-fill-available; */
    display: flex;
    flex-direction: column;
    gap: 25%;
    align-items: center;
}

.bg-dark {
    width: 70%;
    display: flex;
    justify-content: center;
}

.gap {
    gap: 1%;
    width: 75%;
  }

.tex{
    width: 90%;
}
.price{
    width: 10%;
}
.blanco {
    width: 90%;
    border-top: white solid 1px;
}


.btn-outline-danger{
    background-color: red;
    color: white;
    width: 50%;
    text-align: center;
}