/****************************************************************************************************************************
                                                    Body
******************************************************************************************************************************/
body{
    background-color: #1E1E1E ;
    min-height: 100vh;
}

/****************************************************************************************************************************
                                                    NavBar
******************************************************************************************************************************/

.navbar{
    background-color:  rgb(224,43,26)  ;
    height: 5rem;
    padding-bottom: 0.8rem;
    align-items: end;
}
nav.navbar.navbar-expand-lg.navbar-light a {
    color: white;
}

div#navbarNav {
    justify-content: space-evenly;
}

/****************************************************************************************************************************
                                                    Card
******************************************************************************************************************************/
main h1{
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10%;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
